<h1>All tasks</h1>
<hr>
<table>
  <tr>
    <th>Task</th>
    <th>Details</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td>
      <%# Delete button which redirects to index %>
      <%= link_to task.title, task_path(task) %></td>
    </td>
    <td><%= task.completed ? 'Complete' : 'Outstanding' %></td>
    <td>
      <%# THIS NEEDS TO BE A RAILS FORM WHICH UPDATES THE DB %>
      checkbox
    </td>
    <td>
      <%# Delete button which redirects to index %>
      <%= link_to 'Remove', tasks_path(task) %></td>
    </td>
  </tr>
<% end %>
</table>
<hr>
<%= link_to 'New Task ➕', tasks_new_path %>
